#wrapper{
	background-color: #99ccff;
	background:rgba(230,232,232, 0.3) ;
	margin-left: 50px;
	margin-right: 50px;
}
body {
 
 font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
 min-width: 600px; 
 background-attachment: fixed;
}

h1{
font-family: Courier;
padding-left:10px;
padding-top: 10px;
padding-bottom: 10px;
background-color: #363933;
color: white;
margin-left: 0px;
}

td {
    padding: 15px;
    text-align: left;
}

#navigation{
float: left;
width:13%;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
background-color: #8EE338;
opacity: 2;
color: #686868;
 padding-left:1%;
 padding-top: 1%;
 padding-bottom: 10%;
 margin-right: 1%;
}

#navigation a{
	color:#686868;
	font-family: Arial-black,Helvetica,sans-serif;
	font-size:12pt;
 font-weight: bold;
 text-decoration: none;
 padding-right: 30%;
 padding-top: 12px;
 padding-bottom: 12px;
}
#navigation a:hover {
	color:black;
	background-color: #d2d9f7;
	border-width: 3px;
	border-color: black;
	width:10%;
	padding-left: 1%;
}

#content{
padding-top:50px;
padding-bottom: 40%;
margin-left:15%;
margin-right: 15%;
margin-bottom: 10%;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 10%;
background-color: #F0F3ED;
width:66%; 
opacity: 1;
border-width: 5px;
border-color: #BDC4B5;
border-style: solid;
}

#rightbar{
float: right;
padding-top: 5px;

background-color: #8EE338;
width:12%;
color:white;
font-family: Arial-black,Helvetica,sans-serif;
font-size:12pt;
font-weight: bold;
text-decoration: none;
padding-top: 1%;
padding-left: 1%;
padding-bottom: 10%;
margin-bottom: 5%;
}


#footer{
float: bottom;
font-size: 10;
color: #ccd9ff;
background-color: #666666;
margin-top: 5px;
margin-bottom: 2%;

}